@model ShipFood.API.Models.TbMonAn

@{
    ViewData["Title"] = "Xóa Món ăn";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Bạn có chắc muốn xóa món này?</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Tenmon)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Tenmon)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Giatien)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Giatien)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Mota)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Mota)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Mamon" />
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                </form>
            </div>
        </div>
    </div>
</div>
