@model ShipFood.API.Models.TbDonHang

@{
    ViewData["Title"] = "Chi tiết Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Chi tiết Đơn hàng #@Model.Madh</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.Ngaydathang)
                    </dt>
                    <dd class = "col-sm-8">
                        @Model.Ngaydathang.ToString("dd/MM/yyyy HH:mm:ss")
                    </dd>
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.Trangthai)
                    </dt>
                    <dd class = "col-sm-8">
                        @Html.DisplayFor(model => model.Trangthai)
                    </dd>
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.Tongtien)
                    </dt>
                    <dd class = "col-sm-8">
                        @Model.Tongtien.ToString("N0") đ
                    </dd>
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.Phiship)
                    </dt>
                    <dd class = "col-sm-8">
                        @Model.Phiship.ToString("N0") đ
                    </dd>
                    <dt class = "col-sm-4">
                        @Html.DisplayNameFor(model => model.Ghichu)
                    </dt>
                    <dd class = "col-sm-8">
                        @Html.DisplayFor(model => model.Ghichu)
                    </dd>
                </dl>
                <div>
                     <a asp-action="Edit" asp-route-id="@Model.Madh" class="btn btn-warning">Cập nhật trạng thái</a>
                    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>
